<div class="wrapper">
  <div class="content">
    <header class="main-header">
      <div class="layers">
        <div class="layers__header">
          <div class="layers__caption">Welcome to Code Forest</div>
          <div class="layers__title">Fairy Forest</div>
        </div>
        <div
          class="layer layers__base"
          style="background-image: url(./img/layer-base.png)"
        ></div>
        <div
          class="layer layers__middle"
          style="background-image: url(./img/layer-middle.png)"
        ></div>
        <div
          class="layer layers__front"
          style="background-image: url(./img/layer-front.png)"
        ></div>
      </div>
    </header>

    <article
      class="main-article"
      style="background-image: url(./img/dungeon.jpg)"
    >
      <div class="main-article__content">
        <select class="breed-select" id="my-select">
          <option name="cat" selected>--Please choose an option--</option>
        </select>
        <span class="loader" style="display: none"></span>

        <div class="container">
          <div class="close-btn">
            <div class="cl-btn-6-in">
              <div class="cl-btn-6-txt">CLOSE</div>
            </div>
          </div>
          <div class="cat-info"></div>
        </div>
      </div>
      <div class="copy">© MaksBora</div>
    </article>
  </div>
</div>
