<div class="wrapper">
  <div class="content">
    <header class="main-header">
      <div class="layers">
        <div class="layers__header">
          <div class="layers__caption">Welcome to Code Forest</div>
          <div class="layers__title">Fairy Forest</div>
        </div>
        <div
          class="layer layers__base"
          style="background-image: url(./img/layer-base.png)"
        ></div>
        <div
          class="layer layers__middle"
          style="background-image: url(./img/layer-middle.png)"
        ></div>
        <div
          class="layer layers__front"
          style="background-image: url(./img/layer-front.png)"
        ></div>
      </div>
    </header>

    <article
      class="main-article"
      style="background-image: url(./img/dungeon.jpg)"
    >
      <div class="main-article__content">
        <h2 class="main-article__header">To be continued</h2>
        <p class="main-article__paragraph">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni animi
          rem dolor! Est, sed aspernatur animi, unde laborum eaque deleniti
          magni quo quae dolores, cupiditate aliquam veritatis voluptatibus
          laboriosam dignissimos.
        </p>
      </div>
      <div class="copy">© MaksBora</div>
    </article>
  </div>
</div>
