* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --index: calc(1vw + 1vh);
  --text: #e7e7e0;
  --transition: transform 0.75s cubic-bezier(0.075, 0.5, 0, 1);
}

@font-face {
  font-family: raleway_f;
  src: url(../fonts/raleway-regular.woff2);
}

@font-face {
  font-family: raleway_f;
  src: url(../fonts/raleway-black.woff2);
  font-weight: 900;
}

body {
  background-color: #010101;
  /* color: #ffffff; */
  font-family: raleway_f, sans-serif;
  line-height: 1.55;
}

.main-header {
  position: relative;
}

.main-header::after {
  content: '';
  position: absolute;
  z-index: 100;
  width: 100%;
  height: calc(var(--index) * 10);
  background-image: url(../img/ground.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  bottom: calc(var(--index) * -4.5);
}

.layers {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.layer {
  height: 100%;
  width: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
  will-change: transform;
  z-index: 2;
  transition: var(--transition);
}

.layers__base {
  transform: translate3d(0, calc(var(--scrollTop) / 1.6), 0);

  z-index: 0;
}

.layer__middle {
  transform: translate3d(0, calc(var(--scrollTop) / 2.5), 0);
}

.layer__front {
  transform: translate3d(0, calc(var(--scrollTop) / 5.7), 0);
}

.layers__header {
  z-index: 1;
  transform: translate3d(0, calc(var(--scrollTop) / 2), 0);
  will-change: transform;
  text-transform: uppercase;
  font-weight: 900;
  color: var(--text);
  text-shadow: 0 0 15px #9e7d35;
  transition: var(--transition);
}

.layers__title {
  font-size: calc(var(--index) * 2.5);
  letter-spacing: calc(var(--index) / 2.25);
}

.layers__caption {
  font-size: calc(var(--index) / 1.175);
  letter-spacing: calc(var(--index) / 3.5);
  margin-top: calc(var(--index) * 0.75);
}

.main-article {
  --main-article-transform: translate3d(0, calc(var(--scrollTop) / -7.5), 0);
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  color: var(--text);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
}

.main-article__header {
  text-transform: uppercase;
  font-size: calc(var(--index) * 1.8);
  letter-spacing: calc(var(--index) / 7.5);
  transform: var(--main-article-transform);
  will-change: transform;
  transition: var(--transition);
}

.main-article__paragraph {
  max-width: calc(var(--index) * 30);
  font-size: calc(var(--index) * 0.9);
  margin-top: calc(var(--index) / 1.25);
  transform: var(--main-article-transform);
  transition: var(--transition);
  will-change: transform;
}

.copy {
  position: absolute;
  bottom: calc(var(--index) * 2.5);
  opacity: 0.45;
  font-size: calc(var(--index) * 0.75);
  letter-spacing: calc(var(--index) / 37.5);
}

.content {
  will-change: transform;
}

/* Rest CSS */

.breed-select {
  position: absolute;
  top: 5%;
  left: 45%;
  transform: translate(-5%, -50%);
  z-index: 200;
  width: 250px;
  box-shadow: 0 0 15px #9e7d35;
}

/* Modal */
.container {
  z-index: 122;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.6) rotate(180deg);

  min-height: 650px;
  padding: 20px;
  background-color: rgba(1, 1, 200, 0.05);
  border-radius: 5%;
  box-shadow: 0 0 15px #9e7d35;

  opacity: 0;
  pointer-events: none;
  visibility: none;

  transition: all 250ms ease-in-out;
}

.is-active {
  visibility: visible;
  pointer-events: all;
  opacity: 1;

  transform: translate(-50%, -50%) scale(1) rotate(0deg);
  transition: all 250ms ease-in-out 250ms;
}

.intro {
  text-align: left;
}

.cat-info {
  display: block;

  min-width: 700px;
  border-radius: 4px;
}

.img-cat {
  display: block;
  margin-bottom: 20px;
  border-radius: 10%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px -0px 8px 0px rgba(241, 245, 162, 0.47);
}

.close-btn {
  position: absolute;
  top: 18px;
  right: 18px;
}

.cat-info {
  color: #fff;
  font-size: 16px;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
}

/* ------ Button Close ------- */

.close-btn {
  position: absolute;
  width: 40px;
  cursor: pointer;
  top: 25px;
  right: 25px;
}
.cl-btn-6-in {
  width: inherit;
  text-align: center;
}
.cl-btn-6-txt {
  font-size: 10px;
  line-height: 40px;
  font-weight: 700;
  text-transform: uppercase;
  color: #e7e7e0;
  transition: all 0.3s ease-in;
  opacity: 0;
  cursor: pointer;
  font-family: Verdana;
}
.cl-btn-6-in:before,
.cl-btn-6-in:after {
  position: absolute;
  content: '';
  height: 4px;
  width: inherit;
  background: #e7e7e0;
  left: 0;
  transition: all 0.3s ease-in;
}
.cl-btn-6-in:before {
  top: calc(50% - 4px);
  transform: rotate(45deg);
}
.cl-btn-6-in:after {
  bottom: 50%;
  transform: rotate(-45deg);
}
.close-btn:hover .cl-btn-6-txt {
  opacity: 1;
}
.close-btn:hover .cl-btn-6-in:before,
.close-btn:hover .cl-btn-6-in:after {
  transform: rotate(0);
}
.close-btn:hover .cl-btn-6-in:before {
  top: 0;
}
.close-btn:hover .cl-btn-6-in:after {
  bottom: 0;
}

/* Select */
.breed-select {
  border: 2px solid #000000;
  border-radius: 10px;
  padding: 10px;
  background-color: #ffffff;
  color: #000000;
  font-size: 16px;
  z-index: 120;
}

.breed-select option {
  color: #000000;
}

.breed-select:hover,
.breed-select:active,
.breed-select:focus {
  background-color: #0979ce;
  color: #ffffff;
  border-color: #ffffff;
}

/* loader */
.loader {
  position: absolute;
  top: 50px;
  left: 50px;
  z-index: 505;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: animloader 1s linear infinite;
}

@keyframes animloader {
  0% {
    box-shadow: -72px 0 #fff inset;
  }
  100% {
    box-shadow: 48px 0 #fff inset;
  }
}
